@page "/"
@attribute [AllowAnonymous]

<PageTitle>Home</PageTitle>
<br/>
<br/>
@*<h1 class="mt-5">Welcome to GeldMeister!</h1>

Developing in process...

<SurveyPrompt Title="How is Blazor working for you?" />*@
<br/>
<body id="page-top">
        <!-- Header-->
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <h1 class="masthead-heading mb-0">GELDMEISTER</h1>
                    <h2 class="masthead-subheading mb-0">The Ultimate Money Tool </h2>
                    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Learn More</a>
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
        </header>
        <!-- Content section 1-->
    <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="/Images/homePage1.png" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">What is our mission?</h2>
                        <p>GeldMeister is created to help people manage their spendings. It provides easy and convenient way to manage the bank statements of people in order to show information and data charts about the spendings.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 2-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="/Images/homePageBenefits.png" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">Benefits of using GeldMeister</h2>
                        <p>GeldMeister has many advantages such as: Greater visibility into spending habits; Improved budgeting; Easier tracking of expenses; More informed financial decision-making and more...</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 3-->
    <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="/Images/homePageContactUs.png" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                        <h2 class="display-4">Contact Us</h2>
                        <p>Want to send us your opinion about Geldmeister or give us a recommendation for future upgrade? Don't hesitate and email us on: <a href="mailto: GeldMeister@gmail.com">GeldMeister@gmail.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>

@code{
}
