@*@inherits LayoutComponentBase

<PageTitle>GeldMeisterClient</PageTitle>

<div class="page">
    <NavBar></NavBar>
    <div class="sidebar">
        < NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>*@

@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <NavBar />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @Body
        </div>
    </div>
</div>

