@using GeldMeisterClient.Services.User.Authentication;
@inject AuthenticationService AuthenticationService;

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container px-5">
        <NavLink class="navbar-brand" href="/" Match="NavLinkMatch.All"><span class="oi oi-home" aria-hidden="true"></span> GeldMeister</NavLink>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav justify-content-start">
                <li class="nav-item">
                    <NavLink class="nav-link" href="statements/upload">
                        <span class="oi oi-plus" aria-hidden="true"></span> Upload Statement
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="banks/create">
                        <span class="oi oi-plus" aria-hidden="true"></span> Create Bank
                    </NavLink>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="profile/details">
                                <span class="oi oi-person" aria-hidden="true"></span> View Profile
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="" @onclick="OnClickLogoutUser">
                                <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                            </NavLink>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="register">
                                <span class="oi oi-account-login" aria-hidden="true"></span> Sign Up
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="login">
                                <span class="oi oi-account-login" aria-hidden="true"></span> Sign In
                            </NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>

        </div>
    </div>
</nav>

@code {

    private async Task OnClickLogoutUser()
    {
        await AuthenticationService.LogoutUser();
    }
}